.form-group {
  display: flex;
  align-items: center;
}

label {
  width: 150px;
}

.input-wrapper {
  width: calc(100% - 150px);
}

.bootstrap-switch-primary {
  height: 30px;
  width: 80px;
}

.form-search {
  background: white;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #e6dada;
  display: flex;
  justify-content: flex-end;
}

/* form search list */
.search-input {
  width: 250px;
  align-items: center;
  margin-bottom: 0;
}

.search-question-type {
  width: 350px;
  align-items: center;
  margin-bottom: 0;
}

.wrapper-label-question-type-search {
  margin-bottom: 0;
  width: 120px;
}

.wrapper-input-question-type-search {
  width: calc(100% - 120px);
}

.checkbox-answer {
  width: 30px;
  height: 30px;
  line-height: 38px;
  display: block;
  margin-left: 10px;
  margin-top: 4px;
}

.label-checkbox-answer {
  width: 80px;
}

.wrapper-label-search {
  margin-bottom: 0;
  width: 80px;
}

.wrapper-input-search {
  width: calc(100% - 80px);
}

label {
    margin-bottom: 0;
}

.form-group.form-input-answer {
  display: block;
}