* {
  margin: 0;
  padding: 0
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

svg.nav-icon {
  width: 25px;
  text-align: left;
}

.nav-link .nav-icon {
  width: 25px;
}

.nav-item {
  padding-left: 10px;
}

.content-wrapper {
  padding: 0 25px;
}

.alert-error {
  color: #fff;
  background-color: #dc3545;
  border-color: #d32535;
}